<form id="taskForm" [formGroup]="form" class="bg-zinc-700 p-10 rounded-md max-w-md">
    <!-- card header -->
    <div class="flex flex-col justify-center items-center">
        <img *ngIf="this.Form['image'].value" class="w-40 h-20 rounded-t-3xl" [src]="this.Form['image'].value" alt="task image">
        <img *ngIf="this.Form['image'].value===''"  class="w-30 h-20 rounded-t-3xl" src="https://icon-library.com/images/task-icon-png/task-icon-png-13.jpg">
    </div>
    <!-- title -->
    <label for="title" class="block">Title</label>
    <input type="text" formControlName="title" id="title" name="title" placeholder="Write a title"
        class="bg-gray-800 px-1 py-2 w-full rounded-md mb-2" [ngClass]="{
            'border-2 border-rose-500': this.Form['title'].invalid && this.Form['title'].touched}">
    <!-- description -->
    <label for="description" class="block">Description</label>
    <textarea name="description" formControlName="description" rows="3" placeholder="Write a description"
        class="bg-gray-800 px-1 py-2 w-full rounded-md mb-2"
        [ngClass]="{
            'border-2 border-rose-500': this.Form['description'].invalid && this.Form['description'].touched}"></textarea>
    <label for="image" class="block">Image</label>
    <input type="url" formControlName="image" id="image" placeholder="Url link" name="image"
        class="bg-gray-800 px-1 py-2 w-full rounded-md mb-2 border-2" [ngClass]="{
            'border-2 border-rose-500': this.Form['image'].invalid && this.Form['image'].touched}">
    <!-- submit button -->
    <div class="flex justify-between items-center mt-2">
        <button class="bg-blue-600 px-3 py-1 rounded-md hover:bg-blue-500 disabled:bg-gray-500" type="submit"
            (click)="saveTask()" [disabled]="this.form['invalid']">
            <span *ngIf="this.Form['id'].value !== null"> Update</span>
            <span *ngIf="this.Form['id'].value === null"> Save</span>
        </button>
        <button class="bg-red-600 px-3 py-1 rounded-md hover:bg-red-500" type="reset">
            Cancel
        </button>
    </div>
</form>